In [2]:
from collections import Counter

import pandas as pd
import statbotics

sb = statbotics.Statbotics()

In [13]:
all_matches = []
events_1 = sb.get_events(year=2022, week=1, fields=["key"])
events_2 = sb.get_events(year=2022, week=2, fields=["key"])
for week, events in enumerate([[], events_1, events_2]):
    for event in events:
        try:
            matches = sb.get_matches(event=event["key"])
            for match in matches:
                match["week"] = week
            all_matches.extend(matches)
        except Exception:
            pass
matches_df = pd.DataFrame(all_matches)
matches_df.head()

,key,year,event,comp_level,set_number,match_number,playoff,time,status,red,...,blue_1,red_2,blue_2,red_endgame,blue_endgame,red_fouls,blue_fouls,red_no_fouls,blue_no_fouls,week
0,2022bcvi_qm1,2022,2022bcvi,qm,1,1,False,1646426638,Completed,"7332,4421,7787",...,3.0,0.0,0.0,15.0,6.0,0.0,4.0,35.0,11.0,1
1,2022bcvi_qm2,2022,2022bcvi,qm,1,2,False,1646427312,Completed,"7287,7190,8338",...,18.0,0.0,0.0,0.0,4.0,0.0,0.0,7.0,26.0,1
2,2022bcvi_qm3,2022,2022bcvi,qm,1,3,False,1646428102,Completed,"216,7167,7173",...,13.0,0.0,0.0,0.0,6.0,0.0,0.0,2.0,25.0,1
3,2022bcvi_qm4,2022,2022bcvi,qm,1,4,False,1646428873,Completed,"6485,244,8082",...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,28.0,6.0,1
4,2022bcvi_qm5,2022,2022bcvi,qm,1,5,False,1646429430,Completed,"288,7167,216",...,14.0,0.0,0.0,6.0,0.0,0.0,0.0,23.0,20.0,1

In [19]:
out = []
for _, m in matches_df[(matches_df.red_no_fouls >= 100) | (matches_df.blue_no_fouls >= 100)].iterrows():
    for alliance in ["red", "blue"]:
        if m[alliance + "_no_fouls"] < 100:
            continue
            
        out.append({
            "teams": [int(x) for x in m[alliance].split(",")],
            "event": m.event,
            "week": m.week,
            "comp_level": m.comp_level,
            "set_number": m.set_number,
            "match_number": m.match_number,
            "alliance": alliance,
            "auto": int(m[alliance + "_auto"]),
            "teleop": int(m[alliance + "_teleop"]),
            "endgame": int(m[alliance + "_endgame"]),
            "score": int(m[alliance + "_no_fouls"]),
            "cargo_rp": bool(m[alliance + "_rp_1"]),
            "hanger_rp": bool(m[alliance + "_rp_2"]),
        })
        
matches_100_df = pd.DataFrame(out)
display(matches_100_df.sort_values(by=["event"], ascending=True))

teams = []
for t in matches_100_df.teams:
    teams.extend(t)
sorted([x for x in dict(Counter(teams)).items() if x[1] > 4], key=lambda x:-x[1])

,teams,event,week,comp_level,set_number,match_number,alliance,auto,teleop,endgame,score,cargo_rp,hanger_rp
38,"[4774, 5584, 5985]",2022ausc,2,qm,1,55,blue,28,62,16,106,True,True
39,"[8521, 7157, 1339]",2022caoc,2,qm,1,8,red,18,76,27,121,True,True
40,"[4201, 987, 294]",2022caoc,2,qm,1,21,blue,34,62,10,106,True,False
41,"[987, 3476, 5805]",2022caoc,2,qm,1,38,red,28,42,30,100,True,True
42,"[987, 3476, 3952]",2022caoc,2,qf,1,2,red,30,44,30,104,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,"[5724, 2363, 3136]",2022va305,1,sf,1,1,red,26,66,16,108,False,False
36,"[4089, 2910, 4309]",2022wasno,1,sf,1,1,red,30,58,15,103,False,False
34,"[2910, 4205, 4089]",2022wasno,1,qm,1,14,blue,26,56,21,103,True,True
37,"[4089, 2910, 4309]",2022wasno,1,sf,1,2,red,30,64,15,109,False,False
35,"[4089, 2910, 4309]",2022wasno,1,qf,1,1,red,18,80,15,113,False,False

[(4414, 10), (1678, 7), (987, 6), (589, 5), (1690, 5), (1577, 5), (3476, 5)]

In [15]:
qm_matches_100_df = matches_100_df[matches_100_df.comp_level == "qm"]
display(qm_matches_100_df)

teams = []
for t in qm_matches_100_df.teams:
    teams.extend(t)
sorted([x for x in dict(Counter(teams)).items() if x[1] > 1], key=lambda x:-x[1])

,teams,event,week,comp_level,set_number,match_number,alliance,auto,teleop,endgame,score,cargo_rp,hanger_rp
0,"[1678, 973, 5817]",2022caph,1,qm,1,2,red,20,81,27,128,True,True
1,"[4501, 6560, 4414]",2022caph,1,qm,1,15,blue,32,52,30,114,True,True
2,"[973, 5199, 6560]",2022caph,1,qm,1,31,red,30,58,16,104,True,True
3,"[1678, 3759, 3128]",2022caph,1,qm,1,38,blue,20,59,30,109,True,True
11,"[5554, 1690, 1577]",2022isde1,1,qm,1,2,red,22,62,21,105,True,True
16,"[2075, 3357, 7244]",2022mifor,1,qm,1,28,blue,30,52,21,103,True,True
24,"[5172, 7021, 3883]",2022mndu2,1,qm,1,78,blue,18,58,24,100,True,True
29,"[3310, 624, 5417]",2022txwac,1,qm,1,31,blue,22,60,21,103,True,True
30,"[148, 2848, 2687]",2022txwac,1,qm,1,50,red,26,58,24,108,True,True
34,"[2910, 4205, 4089]",2022wasno,1,qm,1,14,blue,26,56,21,103,True,True
38,"[4774, 5584, 5985]",2022ausc,2,qm,1,55,blue,28,62,16,106,True,True
39,"[8521, 7157, 1339]",2022caoc,2,qm,1,8,red,18,76,27,121,True,True
40,"[4201, 987, 294]",2022caoc,2,qm,1,21,blue,34,62,10,106,True,False
41,"[987, 3476, 5805]",2022caoc,2,qm,1,38,red,28,42,30,100,True,True
53,"[4481, 386, 16]",2022flor,2,qm,1,67,blue,30,58,16,104,True,True
64,"[694, 870, 2172]",2022nyro,2,qm,1,33,blue,30,42,31,103,True,True
65,"[1126, 1787, 340]",2022nyro,2,qm,1,37,red,22,46,34,102,True,True
67,"[2815, 4020, 4265]",2022scan,2,qm,1,5,red,26,51,25,102,True,True

[(1678, 2), (973, 2), (6560, 2), (987, 2)]

In [22]:
elim_matches_100_df = matches_100_df[matches_100_df.comp_level != "qm"]
display(elim_matches_100_df)

teams = []
for t in elim_matches_100_df.teams:
    teams.extend(t)
sorted([x for x in dict(Counter(teams)).items() if x[1] > 3], key=lambda x:-x[1])

,teams,event,week,comp_level,set_number,match_number,alliance,auto,teleop,endgame,score,cargo_rp,hanger_rp
4,"[4414, 1678, 589]",2022caph,1,qf,1,1,red,34,68,30,132,False,False
5,"[4414, 1678, 589]",2022caph,1,qf,1,2,red,34,86,16,136,False,False
6,"[4414, 1678, 589]",2022caph,1,sf,1,2,red,30,60,29,119,False,False
7,"[4414, 1678, 589]",2022caph,1,f,1,1,red,26,58,29,113,False,False
8,"[4414, 1678, 589]",2022caph,1,f,1,2,red,30,56,29,115,False,False
9,"[179, 4481, 4592]",2022flwp,1,sf,1,1,red,28,53,21,102,False,False
10,"[2168, 4206, 2641]",2022flwp,1,sf,2,1,red,28,46,27,101,False,False
12,"[1577, 1690, 6104]",2022isde1,1,qf,1,1,red,38,80,10,128,False,False
13,"[1577, 1690, 6104]",2022isde1,1,qf,1,2,red,30,101,15,146,False,False
14,"[1577, 1690, 6741]",2022isde1,1,f,1,1,red,36,74,0,110,False,False
15,"[1577, 1690, 6741]",2022isde1,1,f,1,2,red,32,60,15,107,False,False
17,"[2075, 3357, 6122]",2022mifor,1,sf,1,1,red,34,71,0,105,False,False
18,"[5460, 27, 5538]",2022miket,1,qf,1,1,red,30,58,15,103,False,False
19,"[5460, 27, 5538]",2022miket,1,sf,1,1,red,28,68,21,117,False,False
20,"[5460, 27, 5538]",2022miket,1,sf,1,2,red,26,56,36,118,False,False
21,"[2052, 1732, 2531]",2022mndu,1,qf,1,1,red,26,48,27,101,False,False
22,"[2052, 1732, 2531]",2022mndu,1,qf,1,2,red,28,66,31,125,False,False
23,"[2052, 1732, 2531]",2022mndu,1,sf,1,1,red,34,48,25,107,False,False
25,"[5913, 5172, 2502]",2022mndu2,1,qf,1,2,red,30,54,21,105,False,False
26,"[2539, 5895, 2095]",2022pahat,1,sf,1,2,red,38,44,27,109,False,False
27,"[3847, 6800, 5503]",2022txdri,1,f,1,1,red,18,60,25,103,False,False
28,"[3847, 6800, 5503]",2022txdri,1,f,1,2,red,20,74,25,119,False,False
31,"[3310, 148, 8858]",2022txwac,1,qf,1,2,red,28,47,30,105,False,False
32,"[3310, 148, 8858]",2022txwac,1,f,1,1,red,32,52,30,114,False,False
33,"[5724, 2363, 3136]",2022va305,1,sf,1,1,red,26,66,16,108,False,False
35,"[4089, 2910, 4309]",2022wasno,1,qf,1,1,red,18,80,15,113,False,False
36,"[4089, 2910, 4309]",2022wasno,1,sf,1,1,red,30,58,15,103,False,False
37,"[4089, 2910, 4309]",2022wasno,1,sf,1,2,red,30,64,15,109,False,False
42,"[987, 3476, 3952]",2022caoc,2,qf,1,2,red,30,44,30,104,False,False
43,"[987, 3476, 3952]",2022caoc,2,sf,1,1,red,26,58,21,105,False,False
44,"[987, 3476, 3952]",2022caoc,2,f,1,1,red,22,52,36,110,False,False
45,"[987, 3476, 3952]",2022caoc,2,f,1,2,red,30,44,36,110,False,False
46,"[7157, 1339, 3020]",2022caoc,2,f,1,2,blue,28,58,15,101,False,False
47,"[359, 4414, 5089]",2022cave,2,qf,1,1,red,30,57,29,116,False,False
48,"[359, 4414, 5089]",2022cave,2,qf,1,2,red,28,70,24,122,False,False
49,"[359, 4414, 5089]",2022cave,2,sf,1,1,red,30,74,24,128,False,False
50,"[359, 4414, 5089]",2022cave,2,sf,1,2,red,38,64,10,112,False,False
51,"[177, 176, 8889]",2022ctwat,2,sf,1,2,red,32,40,30,102,False,False
52,"[177, 176, 8889]",2022ctwat,2,f,1,1,red,28,46,30,104,False,False
54,"[16, 4481, 1884]",2022flor,2,qf,3,2,red,34,56,27,117,False,False
55,"[2383, 3937, 3164]",2022flor,2,qf,4,2,red,22,44,36,102,False,False
56,"[5675, 4381, 4453]",2022migul,2,qf,1,2,red,32,58,20,110,False,False
57,"[1718, 67, 830]",2022mimil,2,sf,1,3,red,26,54,25,105,False,False
58,"[1502, 4362, 862]",2022mimil,2,sf,1,3,blue,26,48,36,110,False,False
59,"[1502, 4362, 862]",2022mimil,2,f,1,1,red,30,42,36,108,False,False
60,"[1506, 3538, 6085]",2022miroc,2,qf,1,1,red,26,50,25,101,False,False
61,"[1506, 3538, 6085]",2022miroc,2,sf,1,2,red,36,36,30,102,False,False
62,"[1506, 3538, 6085]",2022miroc,2,f,1,1,red,32,52,25,109,False,False
63,"[7421, 4635, 5948]",2022mxmo,2,qf,1,1,red,20,60,21,101,False,False
66,"[2046, 2990, 753]",2022orwil,2,qf,1,2,red,24,50,30,104,False,False
68,"[4265, 4020, 1293]",2022scan,2,qf,1,1,red,34,56,15,105,False,False
69,"[8177, 118, 8576]",2022txcha,2,sf,1,2,red,22,45,34,101,False,False
70,"[8177, 118, 8576]",2022txcha,2,f,1,2,red,26,42,40,108,False,False

[(4414, 9),
 (1678, 5),
 (589, 5),
 (1577, 4),
 (1690, 4),
 (987, 4),
 (3476, 4),
 (3952, 4),
 (359, 4),
 (5089, 4)]